/** Fonts **/
/** Colors **/
/**Shdw + Hovers **/
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes pop {
  0% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes remove-loader {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes remove-loader {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@-webkit-keyframes appear-content {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes appear-content {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-webkit-keyframes tourne {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes tourne {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

h1 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 28px;
}

h2 {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 24px;
}

h3 {
  font-family: "Shrikhand", "sans-serif";
}

body, html {
  font-family: "Roboto", "sans-serif";
}

ul, a {
  text-decoration: none;
  list-style-type: none;
}

.box_btn {
  position: relative;
  padding: 15px;
  background: white;
  border-radius: 15px;
  -webkit-box-shadow: 1px 2px 8px 2px #c4c4c4;
          box-shadow: 1px 2px 8px 2px #c4c4c4;
  margin-bottom: 15px;
  overflow: hidden;
  cursor: pointer;
}

button.btn {
  background: linear-gradient(170deg, #ff79da, #9356dc);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 30px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: white;
  cursor: pointer;
}

button.btn:hover {
  -webkit-box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
          box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

button.btn--like {
  border: none;
  background: none;
  font-size: 25px;
}

.custom-checkbox input[type="checkbox"],
.custom-checkbox .checked {
  display: none;
  color: #9356dc;
}

.custom-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}

.custom-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

#loader {
  position: fixed;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: remove-loader;
          animation-name: remove-loader;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.app {
  -webkit-animation-name: appear-content;
          animation-name: appear-content;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.lds-dual-ring {
  display: inline-block;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  border-radius: 50px;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid red;
  border-color: #99e2d0 transparent #99e2d0 transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 10px;
}

.header a {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  left: 3%;
}

.header--arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-size: 20px;
}

.footer {
  background-color: #303030;
}

.footer h3 {
  color: white;
  font-size: 22px;
  font-weight: 500;
  padding: 20px 20px 0px 20px;
}

.footer_list {
  color: white;
  padding: 20px;
  margin: 0 auto;
  line-height: 1.7;
}

.footer a {
  color: white;
}

.footer i.fas.fa-utensils {
  margin-right: 7px;
}

.footer i.fas.fa-hands-helping {
  font-size: 11px;
  margin-right: 7px;
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e5e5e5;
  -webkit-box-shadow: inset 0 5px 5px 0 #ddd;
          box-shadow: inset 0 5px 5px 0 #ddd;
}

.input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  background-color: #e5e5e5;
  height: 50px;
  width: 130px;
  font-weight: 500;
  margin: 4px;
}

.input:focus {
  outline: none;
  border: 1px solid blue;
}

.explore {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0 25px 0;
}

.explore--title {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0px 70px;
}

.explore--txt {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 40px 25px;
}

.howto {
  padding: 20px;
}

.howto .howto_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  gap: 24px;
}

@media (min-width: 1280px) {
  .howto .howto_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.howto .howto_grid_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  background-color: #f5f5f5;
  height: 40px;
  width: auto;
  padding: 16px;
}

.howto .howto_grid_btn span {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  position: absolute;
  left: calc(-25px/2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.howto .howto_grid_btn i {
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-transform: translateX(-115px);
          transform: translateX(-115px);
  font-size: 20px;
}

.howto .howto_grid_btn--txt {
  font-weight: 700;
}

.howto .howto_grid_btn:hover {
  background-color: #eee9f5;
}

.howto .howto_grid_btn:hover i {
  color: #9356dc;
}

.restau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f5f5f5;
  padding: 48px 24px;
}

.restau_title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restau .restau_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 990px) {
  .restau .restau_grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.restau .restau_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 1px 1px 3px 3px #c4c4c4;
          box-shadow: 1px 1px 3px 3px #c4c4c4;
  border-radius: 20px;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.restau .restau_card:hover {
  -webkit-box-shadow: 0 10px 30px #959595;
          box-shadow: 0 10px 30px #959595;
  -webkit-box-shadow: 0 10px 30px rgba(3, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(3, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.1);
}

.restau .restau_card--img {
  aspect-ratio: 20/9;
  width: 100%;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restau .restau_card--new {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: #99e2d0;
  color: #1c7660;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.restau .restau_card--info {
  padding: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restau .restau_card--txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.restau .restau_card--title {
  color: black;
}

.restau .restau_card--loca {
  color: black;
}

.restau .restau_card--like {
  font-size: 25px;
  color: black;
  cursor: pointer;
}

label.custom-checkbox {
  cursor: pointer;
}

.header {
  position: relative;
}

img.menu_img--img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 250px;
  width: 100%;
}

.menu {
  border-radius: 30px 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: -50px;
  position: relative;
}

.menu--title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.menu_like {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  font-size: 25px;
}

.menu--grid {
  display: -ms-grid;
  display: grid;
  padding-top: 15px;
}

@media (min-width: 1280px) {
  .menu--grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
}

.menu_section {
  display: -ms-grid;
  display: grid;
}

.menu_section--title {
  position: relative;
  padding: 20px 0px 5px 0px;
  margin-bottom: 15px;
}

.menu_section--title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2.5rem;
  height: 0.25rem;
  background-color: #99e2d0;
}

.menu_section :nth-child(2) {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.menu_section :nth-child(3) {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.menu_section :nth-child(4) {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}

.menu_section :nth-child(5) {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}

.card--hover {
  position: absolute;
  background-color: #99e2d0;
  height: 74px;
  width: 55px;
  right: 0;
  border-radius: 0px 10px 10px 0px;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.check_circle {
  color: white;
  font-size: 20px;
}

.card {
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 7fr 1fr;
      grid-template-columns: 7fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding: 10px;
  background: white;
  border-radius: 15px;
  -webkit-box-shadow: 1px 2px 8px 2px #c4c4c4;
          box-shadow: 1px 2px 8px 2px #c4c4c4;
  margin-bottom: 15px;
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: pop 0.4s linear forwards;
  animation: pop 0.4s linear forwards;
  opacity: 0;
}

.card:hover .card--hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.card:hover .check_circle {
  -webkit-animation: rotate 0.4s linear;
  animation: rotate 0.4s linear;
}

.card:hover .card--price {
  padding-right: 60px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.card--title {
  width: calc(100% - 50px);
  font-weight: 700;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /3;
}

.card--txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
}

.card--price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: bold;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0px 30px 0px;
}
/*# sourceMappingURL=main.css.map */