.box_btn {
    position: relative;
    padding: 15px;
    background: white;
    border-radius: 15px;
    box-shadow: 1px 2px 8px 2px $shadow;
    margin-bottom: 15px;
    overflow: hidden;
    cursor: pointer;
    }

button.btn {
    background: linear-gradient(170deg, $color-secondary, $color-primary);
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    color: white;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        transform: translateY(-7px);
    }

}

button.btn--like {
    border: none;
    background: none;
    font-size: 25px;
}