h1, h5 {
    font-family: $tittle-font;
    font-size: $title-size;
    margin: 0;
}
h2 {
    font-size: $title-size;
    font-weight: $title-weight;
    margin-bottom: 24px;
}
h3 {
    font-family: $tittle-font;
}
body, html {
    font-family: $text-font;
}
ul, a {
    text-decoration: none;
    list-style-type: none;
}