.reservation {
    display: flex;
    flex-direction: column  ;
}

form.search {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: $bg-grey;
    box-shadow: inset 0 5px 5px 0 #ddd
}
.input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    background-color: $bg-grey;
    height: 50px;
    width: 130px;
    font-weight: 500;
    margin: 4px;
    &:focus {
        outline: none;
        border: 1px solid blue;
    }
}

.explore {
    background-color: $bg-lightGrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0 25px 0;
    &--title {
        text-align: center;
        align-content: center;
        margin: 0px 70px;
    }
    &--txt {
        text-align: center;
        align-content: center;
        margin: 0 40px 25px;
    }
}

.howto {
    padding: 20px;
    .howto_grid {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 24px;
        @media (min-width: 1280px) {
            display: grid;
            grid-template-columns: repeat(3,1fr)
        }
        &_btn {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            background-color: $bg-lightGrey;
            height: 40px;
            width: auto;
            padding: 16px;
            span {
                background-color: $color-primary;
                color: white;
                border-radius: 50%;
                height: 25px;
                width: 25px;
                position: absolute;
                left: calc(-25px/2);
                display: flex;
                align-items: center;
                justify-content: center;
            }
            i {
                color: gray;
                display: flex;
                width: 40px;
                justify-content: center;
                position: absolute;
                transform: translateX(-115px);
                font-size: 20px;
            }
            &--txt {
                font-weight: 700;
            }
            &:hover {
                background-color: #eee9f5;
                i {
                    color: $color-primary;
                }
            }
        }
    }
}

.restau {
    display: flex;
    flex-direction: column;
    background-color: $bg-lightGrey;
    padding: 48px 24px;
    
    &_title {
        align-items: center;
    }

    .restau_grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        flex: 1;
        align-items: flex-start;
        @media (min-width: 990px) {
            grid-template-columns: repeat(2,1fr)
        }
    }

    .restau_card {
        display: flex;
        position: relative;
        box-shadow: 1px 1px 3px 3px $shadow;
        border-radius: 20px;
        background-color: white;
        flex-direction: column;
        height: auto;

        &:hover {
            box-shadow: 0 10px 30px $shadow-hover;
            box-shadow: 0 10px 30px rgba(3, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.10);
        }
        &--img {
            aspect-ratio: 20/9;
            width: 100%;
            overflow: hidden;
            border-radius: 20px 20px 0px 0px;
            object-fit: cover;
        }
        &--new {
            position: absolute;
            top: 5%;
            right: 5%;
            background-color: $color-tertiary;
            color: $color-new;
            padding: 5px;
            border-radius: 5px;
            font-weight: bold;
        }
        &--info {
            padding: 10px;
            position: relative;
            display: flex;
            align-items: center;
        }
        &--txt {
            flex: 1;
        }
        &--title {
            color: black;
        }
        &--loca {
            color: black;
        }
        &--like {
          font-size: 25px;
          color: black;
          cursor: pointer;
        }
    }
}        
label.custom-checkbox {
    cursor: pointer;
}

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    animation: lds-dual-ring 1.2s linear infinite;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 1  ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lds-dual-ring {
    display: inline-block;
    background: blueviolet;
    border-radius: 50px;
  }
  .lds-dual-ring::after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }